<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Chat Supabase</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()" color="danger">
        Salir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item lines="none" class="ion-padding-vertical" color="light">
    <ion-label class="ion-text-center">
      Conectado como: <strong>{{ user_sender }}</strong>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true" class="chat-content">
  <div class="messages-wrapper">
    <div *ngFor="let msg of messages" class="message animate__animated animate__fadeInUp">
      <div class="message-meta">{{ msg.user_sender }}</div>
      <div class="message-bubble">
        {{ msg.text }}
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="chat-footer" class="ion-padding">
  <ion-toolbar>
    <ion-item lines="none" class="input-item">
      <ion-input [(ngModel)]="newMessage" placeholder="Escribe un mensaje....." class="message-input"></ion-input>
      <ion-button (click)="sendeNewMessage()" color="primary" fill="solid" size="small" shape="round">
        Enviar
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>